/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

/**************** CSS UTILI *****************/
.container-fluid {
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 auto;
}

[class*="col-"] {
    text-align: center;
    padding: 0.1rem;
}

.box {
    background-color: blueviolet;
    padding: 0.5rem;
}

.nested {
    background-color: goldenrod;
    padding: 0.5rem;
}

/************* ROW TOP ****************/
.row-top {
    margin-bottom: 1rem;
}

/************** ROW BOTTOM ****************/
.row-bottom .box {
    padding: 1rem;
}

/*************** OFFSET ***************/
.container-fluid.offset {
    margin-top: 1rem;
}

.offset .box {
    padding: 1rem;
}